{% extends "Baise.html" %}
{% load static %}

{% block content %}
<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm border-0">
          <div class="card-header bg-primary text-white text-center">
            <h4>Sign Up to Volunteer</h4>
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary w-100">Submit Application</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}
{% endblock %}
